<!--<*********************** Content ********************************&ndash;&gt;-->
<div class="content">
  <div style="background-image: url(https://images.squarespace-cdn.com/content/v1/5aadf482aa49a1d810879b88/1626698419120-J7CH9BPMB2YI728SLFPN/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
    <div style="height: 120px;"></div>
    <h2 class="m-0" style="font-size: 40px;
    color: #ffffff;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;">FACILITIES</h2>
    <div style="height: 120px;"></div>
  </div>
  <div style="display: flex; justify-content: center;">
    <div class="mt-5">
      <table id="tableService">
        <thead hidden>
        <tr hidden>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="p-3">
            <div class="card ">
              <img class="card-img-top" width="150" height="300"
                   src="http://www.saigonprincehotel.com/files/images/page/1/tmiads.vn-entrance-home-1538966188.jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">OCEAN SUITE</h5>
                <p class="card-text mt-0">Room size: 85.8m<sup>2</sup></p>
                <div class="text-center">
                  <a href="#" style="width: 75px" class="btn btn-warning mx-1">Edit</a>
                  <a href="#" class="btn btn-info">Delete</a>
                </div>
              </div>
            </div>
          </td>

          <td class="p-3">
            <div class="card ">
              <img class="card-img-top" width="150" height="300"
                   src="http://www.saigonprincehotel.com/files/images/page/1/tmiads.vn-entrance-home-1538966188.jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">OCEAN SUITE</h5>
                <p class="card-text mt-0">Room size: 85.8m<sup>2</sup></p>
                <div class="text-center">
                  <a href="#" style="width: 75px" class="btn btn-warning mx-1">Edit</a>
                  <a href="#" class="btn btn-info">Delete</a>
                </div>
              </div>
            </div>
          </td>
          <td class="p-3">
            <div class="card ">
              <img class="card-img-top" width="150" height="300"
                   src="http://www.saigonprincehotel.com/files/images/page/1/tmiads.vn-entrance-home-1538966188.jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">OCEAN SUITE</h5>
                <p class="card-text mt-0">Room size: 85.8m<sup>2</sup></p>
                <div class="text-center">
                  <a href="#" style="width: 75px" class="btn btn-warning mx-1">Edit</a>
                  <a href="#" class="btn btn-info">Delete</a>
                </div>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="p-3">
            <div class="card ">
              <img class="card-img-top" width="150" height="300"
                   src="http://www.saigonprincehotel.com/files/images/page/1/tmiads.vn-entrance-home-1538966188.jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">OCEAN SUITE</h5>
                <p class="card-text mt-0">Room size: 85.8m<sup>2</sup></p>
                <div class="text-center">
                  <a href="#" style="width: 75px" class="btn btn-warning mx-1">Edit</a>
                  <a href="#" class="btn btn-info">Delete</a>
                </div>
              </div>
            </div>
          </td>

          <td class="p-3">
            <div class="card ">
              <img class="card-img-top" width="150" height="300"
                   src="http://www.saigonprincehotel.com/files/images/page/1/tmiads.vn-entrance-home-1538966188.jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">OCEAN SUITE</h5>
                <p class="card-text mt-0">Room size: 85.8m<sup>2</sup></p>
                <div class="text-center">
                  <a href="#" style="width: 75px" class="btn btn-warning mx-1">Edit</a>
                  <a href="#" class="btn btn-info">Delete</a>
                </div>
              </div>
            </div>
          </td>
          <td class="p-3">
            <div class="card ">
              <img class="card-img-top" width="150" height="300"
                   src="http://www.saigonprincehotel.com/files/images/page/1/tmiads.vn-entrance-home-1538966188.jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">OCEAN SUITE</h5>
                <p class="card-text mt-0">Room size: 85.8m<sup>2</sup></p>
                <div class="text-center">
                  <a href="#" style="width: 75px" class="btn btn-warning mx-1">Edit</a>
                  <a href="#" class="btn btn-info">Delete</a>
                </div>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="p-3">
            <div class="card ">
              <img class="card-img-top" width="150" height="300"
                   src="http://www.saigonprincehotel.com/files/images/page/1/tmiads.vn-entrance-home-1538966188.jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">OCEAN SUITE</h5>
                <p class="card-text mt-0">Room size: 85.8m<sup>2</sup></p>
                <div class="text-center">
                  <a href="#" style="width: 75px" class="btn btn-warning mx-1">Edit</a>
                  <a href="#" class="btn btn-info">Delete</a>
                </div>
              </div>
            </div>
          </td>

          <td class="p-3">
            <div class="card ">
              <img class="card-img-top" width="150" height="300"
                   src="http://www.saigonprincehotel.com/files/images/page/1/tmiads.vn-entrance-home-1538966188.jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">OCEAN SUITE</h5>
                <p class="card-text mt-0">Room size: 85.8m<sup>2</sup></p>
                <div class="text-center">
                  <a href="#" style="width: 75px" class="btn btn-warning mx-1">Edit</a>
                  <a href="#" class="btn btn-info">Delete</a>
                </div>
              </div>
            </div>
          </td>
          <td class="p-3">
            <div class="card ">
              <img class="card-img-top" width="150" height="300"
                   src="http://www.saigonprincehotel.com/files/images/page/1/tmiads.vn-entrance-home-1538966188.jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">OCEAN SUITE</h5>
                <p class="card-text mt-0">Room size: 85.8m<sup>2</sup></p>
                <div class="text-center">
                  <a href="#" style="width: 75px" class="btn btn-warning mx-1">Edit</a>
                  <a href="#" class="btn btn-info">Delete</a>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--***************** Xóa có modal ***********************-->

  <button type="button"
          onclick="showInfo('ABC','ABC')"
          class="btn btn-success text-light btn-outline-dark"
          data-toggle="modal"
          data-target="#exampleModal">
    delete
  </button>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <!--    **********Thêm thẻ form **************-->
      <form action="customer">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!--         ***************************** thêm ***********************-->
            <input hidden type="text" id="idCustomer" name="id">
            <span>Bạn có muốn xóa dịch vụ </span>
            <span class="text-danger" id="nameCustomer"></span> không?
            <!--       *************************************************************-->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
            <!--          *********************** Chuyển type button sang submit *********************-->
            <button type="submit" name="action" value="delete" class="btn btn-primary">Có</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

