<h1>Tạo sản phẩm mới</h1>
<form [formGroup]="productForm" *ngIf="productForm" (ngSubmit)="edit(product.id)">
  <table>
    <tr hidden>
      <td>Mã sản phẩm:</td>
      <td><input type="number" formControlName="id"></td>
    </tr>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td>Danh mục</td>
      <td>
        <select [compareWith]="compare" formControlName="category">
          <option value="" disabled>Chọn...</option>
          <option *ngFor="let category of categoryList"
                  [ngValue]="category">
            {{category.name}}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="submit" class="mt-2 mr-2">Sửa</button>
        <button type="reset">Làm mới</button>
      </td>
    </tr>
  </table>
</form>
