<body class="container">
<h2 class="text-info text-center my-4">Danh sách hợp đồng</h2>
<table class="table table-hover" id="tableContract">
  <thead>
  <tr class="table-active">
    <th>STT</th>
    <th>ID</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Deposit</th>
    <th>Total money</th>
    <th>Customer</th>
    <th>Employee</th>
    <th>Service</th>
  </tr>
  </thead>
  <tbody *ngFor="let contract of contractList | paginate:{itemsPerPage: 2, currentPage: page}; index as i ">
  <!--  <tr class="table-danger"></tr>-->
  <tr>
    <th>{{i + 1}}</th>
    <td>{{contract.id}}</td>
    <td>{{contract.startDate | date:'dd/MM/yyyy'}} </td>
    <td>{{contract.endDate | date:'dd/MM/yyyy'}}</td>
    <td>{{contract.deposit | currency:'VND'}}</td>
    <td>{{contract.totalMoney| currency:'VND'}}</td>

    <td [ngSwitch]="contract.customerId">
      <span *ngSwitchCase="1">Nguyễn Thị Hào</span>
      <span *ngSwitchCase="2">Nguyễn Tâm Đắc</span>
      <span *ngSwitchCase="3">Phạm Xuân Diệu</span>
      <span *ngSwitchCase="4">Trương Đình Nghệ</span>
      <span *ngSwitchCase="5">Dương Văn Quang</span>
    </td>
    <td [ngSwitch]="contract.employeeId">
      <span *ngSwitchCase="1">Nguyễn Văn An</span>
      <span *ngSwitchCase="2">Lê Văn Bình</span>
      <span *ngSwitchCase="3">Hồ Thị Yên</span>
      <span *ngSwitchCase="4">Võ Công Toản</span>
      <span *ngSwitchCase="5">Nguyễn Bình Phát</span>
    </td>
    <td [ngSwitch]="contract.serviceId">
      <span *ngSwitchCase="1">Villa Beach Front</span>
      <span *ngSwitchCase="2">House Princess 01</span>
      <span *ngSwitchCase="3">Room Twin 01</span>
      <span *ngSwitchCase="4">Villa No Beach Front</span>
      <span *ngSwitchCase="5">House Princess 02</span>
    </td>
  </tr>
  <!--  <tr class="table-success">-->
  </tbody>
</table>
<div class="d-flex justify-content-end">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>

