<body class="container">
<h2 class="text-info text-center my-3">Danh sách hợp đồng</h2>
<table class="table table-hover" id="tableContract">
  <thead>
  <tr class="table-active">
    <th>ID</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Deposit</th>
    <th>Total money</th>
    <th>Customer</th>
    <th>Employee</th>
    <th>Iservice</th>
  </tr>
  </thead>
  <tbody>
  <!--  <tr class="table-danger"></tr>-->
  <tr>
    <th>1</th>
    <td>01/01/2000</td>
    <td>01/01/2001</td>
    <td>1000000</td>
    <td>5000000</td>
    <td>Nguyễn Văn A</td>
    <td>Lê Hùng A</td>
    <td>Villa Beach Front</td>
  </tr>
  <!--  <tr class="table-success">-->
  <tr>
    <th>2</th>
    <td>01/01/2000</td>
    <td>01/01/2001</td>
    <td>1000000</td>
    <td>5000000</td>
    <td>Nguyễn Văn A</td>
    <td>Lê Hùng A</td>
    <td>Villa Beach Front</td>
  </tr>
  <tr>
    <th>3</th>
    <td>01/01/2000</td>
    <td>01/01/2001</td>
    <td>1000000</td>
    <td>5000000</td>
    <td>Nguyễn Văn A</td>
    <td>Lê Hùng A</td>
    <td>Villa Beach Front</td>
  </tr>
  <tr>
    <th>4</th>
    <td>01/01/2000</td>
    <td>01/01/2001</td>
    <td>1000000</td>
    <td>5000000</td>
    <td>Nguyễn Văn A</td>
    <td>Lê Hùng A</td>
    <td>Villa Beach Front</td>
  </tr>
  <tr>
    <th>5</th>
    <td>01/01/2000</td>
    <td>01/01/2001</td>
    <td>1000000</td>
    <td>5000000</td>
    <td>Nguyễn Văn A</td>
    <td>Lê Hùng A</td>
    <td>Villa Beach Front</td>
  </tr>
  </tbody>
</table>

