<h1 class="text-center">Danh sách lô hàng</h1>
<div class="text-center">
  Sản phẩm:
  <select class="mr-1" #product>
    <option value="">Chọn</option>
    <option *ngFor="let product of productList" [value]="product.productId">{{product.name}}</option>
  </select>
  Ngày hết hạn:
  <input type="date" class="mr-1" #dateEnd placeholder="price start">
  <br>
  Ngày nhập hàng:

  Từ
  <input type="date" class="mr-1" #start placeholder="price start">
  Đến
  <input type="date" class="mr-1" #end placeholder="price start">
  <button class="btn btn-info" (click)="searchName(product.value, dateEnd.value,start.value,end.value)">Search4</button>
  <button class="btn btn-info" (click)="search(product.value)">Search1</button>

</div>
<div class="table-responsive mt-4">
  <table class="table table-striped table-hover">
    <thead>
    <tr class="table-success">
      <td>Mã lô hàng</td>
      <td>Tên sản phẩm</td>
      <td>Giá tiền</td>
      <td>Đơn vị</td>
      <td>Số lượng</td>
      <td>Ngày nhập hàng</td>
      <td>Ngày sản xuất</td>
      <td>Ngày hết hạn</td>
      <td class="text-center">Chức năng</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pack of packageList | paginate:{itemsPerPage: 3, currentPage: page}; index as i">
      <td>{{pack.code}}</td>
      <td>{{pack.product.name}}</td>
      <td>{{pack.product.price | currency:"VNĐ"}}</td>
      <td>{{pack.product.currency}}</td>
      <td>{{pack.quantity}}</td>
      <td>{{pack.dateImport | date:"dd/MM/yyyy"}}</td>
      <td>{{pack.dateStart | date:"dd/MM/yyyy"}}</td>
      <td>{{pack.dateEnd | date:"dd/MM/yyyy"}}</td>
      <td class="text-center">
        <button type="button"
                (click)='temp = pack'
                class="btn btn-danger"
                data-toggle="modal"
                data-target="#exampleModal">
          Xóa
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-warning" id="exampleModalLabel">Cảnh báo!!</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body w-100">
        <span>Bạn có muốn xóa thông tin lô hàng nhập ngày <span
          class="text-danger">{{temp.dateImport | date:"dd/MM/yyyy"}}</span>?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="delete(temp)" type="button" data-dismiss="modal" class="btn btn-primary">Xóa</button>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-end">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
