
<h2 class="text-info text-center">Thêm mới khách hàng</h2>
<form class="container">
  <div class="form-group">
    <label for="id">ID: <span style="color: red">*</span></label>
    <input type="text" class="form-control" id="id" placeholder="Enter id">
  </div>
  <div class="form-group">
    <label for="name">Name: <span style="color: red">*</span></label>
    <input type="text" class="form-control" id="name" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="type">Type: <span style="color: red">*</span></label>
    <select class="custom-select" id="type">
      <option selected>Choose...</option>
      <option value="1">Diamond</option>
      <option value="2">Platinum</option>
      <option value="3">Gold</option>
      <option value="4">Silver</option>
      <option value="5">Member</option>
    </select>
  </div>
  <div class="form-group">
    <label for="type">Gender: <span style="color: red">*</span></label>
    <div class="form-line">
      <input type="radio" id="html" name="gender" value="male">
        <label for="html">Male</label>
        <input type="radio" id="css" name="gender" value="female">
        <label for="css">Female</label>
    </div>
  </div>
  <div class="form-group">
    <label for="cost">ID card: <span style="color: red">*</span></label>
    <input type="number" class="form-control" id="cost" placeholder="Enter id card">
  </div>
  <div class="form-group">
    <label for="phone">Phone: <span style="color: red">*</span></label>
    <input type="number" class="form-control" id="phone" placeholder="Enter phone">
  </div>
  <div class="form-group">
    <label for="email">Email: <span style="color: red">*</span></label>
    <input type="number" class="form-control" id="email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="address">Address: <span style="color: red">*</span></label>
    <input type="number" class="form-control" id="address" placeholder="Enter address">
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-outline-success mr-1" style="width: 75px">Add</button>
    <button type="submit" class="btn btn-outline-danger">Cancel</button>
  </div>
</form>
