<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">STT</th>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Address</th>
    <th scope="col">Mark</th>
    <th scope="col">Result</th>
    <th scope="col">Avatar</th>
    <th scope="col" class="col-2">Action</th>
  </tr>
  </thead>
  <tbody *ngFor="let student of students; let i = index;">
  <tr>
    <td>{{i+1}}</td>
    <td>{{student.id}}</td>
    <td>{{student.name|titlecase}}</td>
    <td>{{student.address}}</td>
    <td>{{student.mark}}</td>
    <td *ngIf="student.mark >= 5; else elseBlock">
      Pass
    </td>
    <ng-template #elseBlock>
      <td>
        Fail
      </td>
    </ng-template>
    <td><img [src]="student.avt" alt="" height="150px" width="200px"></td>
    <td class="btn btn-warning" (click)="temp = student" >Chi tiết</td>
    <td class="btn btn-danger">Xóa</td>
  </tr>
  </tbody>
</table>

<div class="container">
  <app-student-detail [student]="temp"></app-student-detail>
</div>

<div class="container">
  <app-student-create (submitStudent)="addStudent($event)"></app-student-create>
</div>
