<nav class="sticky-top">
  <div class="sticky-content row container-fluid m-auto " style="background-color:#0a530e;; color: white ">
    <nav class="navbar navbar-expand-lg  container ">
      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="" id="a" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Service
            </a>
            <div class="dropdown-menu" aria-labelledby="a">
              <a class="dropdown-item " routerLink="/service/create">Add new</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/customer/list" id="b" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Customer
            </a>
            <div class="dropdown-menu" aria-labelledby="b">
              <a class="dropdown-item" routerLink="/customer/create">Add new</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/contract/list" id="c" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Contract
            </a>
            <div class="dropdown-menu" aria-labelledby="c">
              <a class="dropdown-item" routerLink="/contract/create">Add new</a>
            </div>
          </li>
        </ul>
      </div>
      <div>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Input service" aria-label="Search">
          <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </div>
</nav>
